
 <!-- partial:partials/_sidebar.html -->
<nav class="sidebar">
    <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
            BioFort<span>Stat</span>
        </a>
       
    </div>
    
</nav>
