@{
    ViewBag.Title = "About";
}
<style type="text/css">
    .hero-media-image {
        max-height: 500px;
        overflow: hidden;
    }

    img, input, textarea, video {
        height: auto;
        max-width: 100%;
    }

    .pane--node-title {
        background-color: transparent;
        padding: 30px 0;
        overflow: hidden;
    }

    body {
        font-size: 14px;
    }
</style>

<div class="container" style="margin: 30px;">
    
    <img src="~/Othersz/urn_aaid_sc_US_8fd70ca3-43c3-4840-b74b-b3a1ec7b518c.png" />
</div>

<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="hero-media-image">
            <div class="field field--image">
                <div class="field-items">
                    <div class="field-item even">
                        <img typeof="foaf:Image" src="https://www.harvestplus.org/sites/default/files/IMG_0035.jpg" alt="" width="5452" height="2255">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="pane pane--node-title panel-pane pane--node-title narrow-constrain ">


            <h1>Our Mission</h1>


        </div>
        <div class="field-item even" property="content:encoded">
            <style type="text/css">
                <!-- /*--><![CDATA[/* ><!--*/
                .stat {
                    text-align: center;
                    padding-top: 10px;
                    margin-bottom: 10px;
                    font-size: 1.5em;
                    font-weight: 900;
                }

                .card {
                    width: 100%;
                    box-shadow: 1px 1px 3px #ccc;
                    border-top: 8px solid #004785;
                    min-height: auto;
                    padding: 10px;
                }

                #mainbox {
                    box-sizing: border-box;
                    justify-content: center;
                    display: flex;
                    flex-wrap: wrap;
                }

                /*--><!]]>*/
            </style><p>When two billion people lack essential vitamins and minerals, both the individuals and the world as a whole suffer the consequences of that hidden hunger. A world in which a&nbsp;third of the population struggles to be healthy and productive misses out on the fruits of that unrealized potential. Hidden hunger amplifies the material and psychological burden&nbsp;on individuals and societies for generations to come.</p>
            <p>At HarvestPlus, we&nbsp;believe that hidden hunger should not be inevitable for the people most at risk. We break down silos between agriculture and nutrition to develop creative solutions to hidden hunger. Our food-based approach targets some of the most vulnerable populations around the world.<br>&nbsp;</p>

            <div class="card">
                <h1 class="h1 stat" style="">VISION</h1>
                <p>Our&nbsp;<strong>vision</strong>&nbsp;is a world free of hidden hunger. We believe that hidden hunger can be solved by actively adding micronutrients to the diets of those who are deficient. With our partners, we develop new, more nutritious varieties of staple food crops that provide higher amounts of vitamin A, iron, or zinc—three of the micronutrients&nbsp;identified by the World Health Organization as most lacking in diets globally.</p>
                <p>We use a process called <strong>biofortification</strong>, which adopts conventional breeding to improve crops. Our innovative approach complements other nutrition interventions, and is evidence-based, cost-effective, and sustainable.</p>
            </div>
            <div class="card">
                <h1 class="h1 stat" style="">MISSION</h1>
                <p>Our&nbsp;<strong>mission:</strong>&nbsp;work with partners to tackle hidden hunger on a global scale by breeding vitamins and minerals into everyday food crops. Together, we build sustainable food systems and bridge the gap between agriculture and nutrition.</p>
            </div>
            <div class="card">
                <h1 class="h1 stat">GOAL</h1>
                <p>Our&nbsp;<strong>goal&nbsp;</strong>is to reach 20 million farming households with biofortified nutritious foods by 2020. By strengthening our partnerships and delivery efforts, we are confident that we can reach 1 billion people with biofortified foods by 2030.</p>
            </div>
        </div>
    </div>
</div>