@model IEnumerable<BioFortStat.Models.Price>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/StaffLayout.cshtml";
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Price List</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Price List</h6>
                <!-- Addition of New Buyer and Seller Button-->
                <div class="form-group">

                    @Html.ActionLink("Add Price", "New", "Price", null, new { @class = "btn btn-danger" })

                </div>
                <!--The End of the Addition of New Buyer and Seller-->
                <div class="table-responsive">
                    <table id="userinfo" class="table">
                        <thead>
                            <tr>                         
                                <th>Edit</th>
                                <th>Delete</th>
                                <th>Market Name</th>
                                <th>Product Name</th>
                                <th>ProductQuantity</th>
                                <th>Product Price</th>
                                <th>Same As Previous</th>
                                <th>Created By</th>
                                <th>Measure</th>
                                <th>Picked Date</th>                               
                                <th>Created Date</th>
                                @*<th>Approved</th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#userinfo").DataTable({
                ajax: {
                    url: "/api/price",
                    dataSrc: ""
                },
                columns: [
                     {
                         data: "id",
                         render: function (data, type, edituser) {
                             return "<button class='btn btn-primary nav-link js-edit' data-user-id=" + data + "> Edit </button>";
                         }
                     },
                    {
                        data: "id",
                        render: function (data, type, deluser) {
                            return "<button class='btn btn-info nav-link js-delete' data-user-id=" + data + "> Delete </button>";
                        }
                    },               
                    {
                data: "marketName"
                    },
                    {
                        data: "productName",
                    }
                    ,
                    {
                        data: "productQuantity"
                    },
                    {
                        data: "productPrice",
                    },
                    {
                        data: "sameasPrevious"
                    },
                    {
                        data: "createdBy",
                    },
                    {
                        data: "unit"
                    },
                    {
                        data: "pickedDate"
                    },
                    {
                        data: "createdDate"
                    }  
                ]
            });

            $("#userinfo ").on("click", ".js-edit", function () {
                var button = $(this);

                $.ajax({
                    url: "/api/price/" + button.attr("data-user-id"),
                    method: "PUT",
                    success: function () {
                        window.location = "/price/createprice";
                       
                    }
                });
            });


            $("#userinfo ").on("click", ".js-delete", function () {
                var button = $(this);

                $.ajax({
                    url: "/api/price/" + button.attr("data-user-id"),
                    method: "DELETE",
                    success: function () {
                        table.row(button.parents("tr")).remove().draw();
                        button.parents("tr").remove();
                    }
                });
            });

        });
    </script>
}
















